<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>food1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {12, 7}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{12, 7}</string>
			<key>spriteSourceSize</key>
			<string>{12, 7}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{30, 20}, {12, 7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>food10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {12, 7}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{12, 7}</string>
			<key>spriteSourceSize</key>
			<string>{12, 7}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{16, 2}, {12, 7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>food2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {12, 7}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{12, 7}</string>
			<key>spriteSourceSize</key>
			<string>{12, 7}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{16, 11}, {12, 7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>food3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {12, 7}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{12, 7}</string>
			<key>spriteSourceSize</key>
			<string>{12, 7}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{30, 2}, {12, 7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>food4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {12, 7}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{12, 7}</string>
			<key>spriteSourceSize</key>
			<string>{12, 7}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 20}, {12, 7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>food5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {12, 7}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{12, 7}</string>
			<key>spriteSourceSize</key>
			<string>{12, 7}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{16, 20}, {12, 7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>food6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {12, 7}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{12, 7}</string>
			<key>spriteSourceSize</key>
			<string>{12, 7}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{30, 11}, {12, 7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>food7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {12, 7}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{12, 7}</string>
			<key>spriteSourceSize</key>
			<string>{12, 7}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 11}, {12, 7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>food8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {12, 7}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{12, 7}</string>
			<key>spriteSourceSize</key>
			<string>{12, 7}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{44, 2}, {12, 7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>food9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {12, 7}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{12, 7}</string>
			<key>spriteSourceSize</key>
			<string>{12, 7}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {12, 7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{64, 32}</string>
	</dict>
</dict>
</plist>